*
{
  padding:0 ;
  margin: 0;
  box-sizing: border-box;
}
#page
{
  width: calc(100% - 200px);
  margin: 0 auto;
  
  
}
html {
  scroll-behavior: smooth;
  
}

#background {
  
  background:linear-gradient(135deg, #9ebaf3, #353a5f, #1e1e3f);
  background-size: 300% 300%, cover;
  animation: gradient-animation 8s ease infinite;
}


@media(max-width:768px)

{
  #page
  {
    width: calc(100% - 30px);
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*dot animation*/
@keyframes float {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(40px);
  }
  80% {
    transform: translateY(40px); 

  }
  100% {
    transform: translateY(0px);
  }
}

.float-dot {
  animation: float 4s ease-out infinite ;
}

  
